<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm">
        <div class="form-group">
          <label class="col-md-4">Class Name</label>
          <input type="text" class="form-control" formControlName="className"/>
        </div>
        <div class="form-group">
          <label class="col-md-4">Property </label>
          <textarea class="form-control" rows = 7 cols = "5" formControlName="properties"></textarea>
        </div>
        <div class="form-group">
          <label class="col-md-4">Method</label>
          <input type="text" class="form-control" formControlName="methods"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create Product</button>
        </div>
      </form>
    </div>
  </div>