

 <!--  
  
        <ejs-symbolpalette id="symbolpalette" [expandMode]='expandMode' [palettes]='palettes'  [symbolHeight]=60 [symbolWidth]=60 [symbolMargin]='symbolMargin' [getSymbolInfo]='getSymbolInfo' [getNodeDefaults]='getSymbolDefaults'>
        </ejs-symbolpalette>
    -->

        <ejs-diagram #diagram id="diagram" width="100%" height="700" [nodes]="nodes" (nodeCollectionChange)="nodeCollectionChange($event)" [connectors]='connectors'
        [getNodeDefaults]="getNodeDefaults" [getConnectorDefaults]="getConnectorDefaults" [setNodeTemplate]='setNodeTemplate' [serializationSettings]='serializationSettings'
        (dragEnter)="dragEnter($event)" (drop)="dropEvent($event)" (created)="created($event)" 
        (selectionChange)="onSelectionChange($event)"></ejs-diagram>
  
 
       
  

  
<!-- 

   <button class="btn btn-primary" type="button" (click)="saveDiagram();">Save Diagram</button>   
        <button class="btn btn-primary" type="button" (click)="loadDiagram();">Load Diagram</button>  
        <app-uml-class #umlClass *ngIf="showPropertiesPanel" [nodeProperties]="selectedNode"></app-uml-class>





        <ejs-diagram #diagram id="diagram" width="100%" height="700" [getNodeDefaults]="getNodeDefaults"
        [getConnectorDefaults]="getConnectorDefaults" [setNodeTemplate]='setNodeTemplate' [nodes]='nodes' 
        [connectors]='connectors'>
      </ejs-diagram>
-->
    