<!--Ajouter les classes de la box d'alerte ici-->
<div (click)="messages = []" *ngIf="messages && messages.length > 0" class="col-12 col-sm-6 offset-sm-3 fixed-top">
  <div class="mb-0 text-center" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error', 'alert-warning': message.type === 'warning' }"
    *ngFor="let message of messages">
    {{message.text}}
  </div>
</div>